[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "spTDyn"]
	path = spTDyn
	url = https://github.com/cran/spTDyn
[submodule "spTimer"]
	path = spTimer
	url = https://github.com/cran/spTimer
